body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }

  h1 {
    text-align: center;
    color: #333;
  }

  form {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  }

  input[type="number"], input[type="submit"] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }

  input[type="submit"] {
    background-color: #55CAF6;
    color: #fff;
    cursor: pointer;
    border: 1px solid black;
  }

  p {
    text-align: center;
    margin-top: 10px;
  }

  .resultado {
    text-align: center;
    font-size: 20px;
    color: #333;
    margin-top: 20px;
  }
  